.rodape{
  background-color: #333333;
  height: 70px;
	/*height: 388px; /*altura*/
	justify-content: center;
	align-items: stretch;
	flex-direction: row;
	display: flex;
	margin-top: 40px;
	gap: 20px;
	padding: 20px;
	flex-wrap: wrap;
}


