
<div class="cabecalho">
  <div class="logo">
    <img src="../../../assets/imagens/Logo2.svg" alt="Logo  Trevo">
  </div>
  <nav class="links">
    <ul>
      <a href="http://">Início</a>
      <a href="#tema1">Destaques</a>
      <a href="#tema2">Categorias</a>
      <a href="#tema3">Newsletter</a>
      <a href="#tema4">Vídeos</a>
      <a href="#tema5">Contato</a>
    </ul>
  </nav>
  <div class="whats">
    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5514981441403"><img src="../../../assets/imagens/whatsapp_Trans.png" alt="Logo Whatsapp"></a>
  </div>
</div>
<div class="carosel">
  <img src="../../../assets/imagens/Rectangle 6.png" alt="Imagem G">
</div>
