<section id="tema2">
  <h1>NAVEGUE PELAS CATEGORIAS</h1>
</section>
<nav class="conteudo_categorias">
    <a href="https://jacto.com/brasil/products/pulverizadores-automotrizes"><img src="../../../assets/imagens/Group 3.svg" alt="Tratores"></a>

    <a href="https://jacto.com/brasil/products/pulverizadores-de-barras"><img src="../../../assets/imagens/Group 14.svg" alt="Implementos"></a>

    <a href="https://jactoparts.jacto.com.br/"><img src="../../../assets/imagens/Group 15.svg" alt="Pneus"></a>

    <a href="https://www.agrofy.com.br/pulverizadores-autopropelidos/jacto/aluguel"><img src="../../../assets/imagens/Group 16.svg" alt="Locação"></a>

    <a href="https://jactoparts.jacto.com.br"><img src="../../../assets/imagens/Group 17.svg" alt="Peças"></a>

    <a href="https://jacto.com/brasil/products/adubadoras/smartset"><img src="../../../assets/imagens/Group 18.svg" alt="SmarSet"></a>
</nav>
